/* General resets */
* {
  padding: 0;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 25px
}

/* Styling the NavBar */
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
}

.nav_bar .left_1,
.nav_bar .right_1 {
  display: flex;
  align-items: center;
}

.nav_bar .left_1 a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(113, 110, 110);
}

.leetcode_sym {
  width: 50px;
  height: auto;
}

.nav_bar .right_1 img {
  margin-left: 20px;
  width: 30px;
  height: auto;
}

.fire_sym {
  width: 100px;
  height: 70px;
}

.bell_sym {
  width: 20px;
  height: 20px;
}

.premium {
  margin-left: 20px;
  padding: 8px 16px;
  background-color: #d6b98c;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: rgb(223, 127, 11);
  cursor: pointer;
}

.premium:hover {
  background-color: #e0a800;
}

/* Styling the Main Section */
.sec {
  display: flex;
}

.left_2 {
  flex: 5;
  width: 90%;
}

.right_2 {
  flex: 1;
  text-align: center;
  justify-content: space-between;
  padding: 5px;
  height: 600px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  margin-right: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right_2 img {
  width: 70px;
  height: 70px;
}

.time {
  font-weight: bold;
  color: #dc3545;
}

/* NavBar Links and Buttons */
.nav_bar a,
.nav_bar button {
  text-decoration: none;
  font-weight: normal;
  color: rgb(113, 110, 110);
}

.nav_bar a.active,
.nav_bar button.active {
  text-decoration: underline;
  font-weight: bold;
  color: #030405;
}

.nav_bar a:hover,
.nav_bar button:hover {
  color: #060809;
}


/* Table Styling */
.table-container {
  margin-top: 20px;
}
.cir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  box-sizing: border-box;
  color: orange;
}

/* Ensure to target the correct class names */
.calendar-container {
  text-align: center;
}

.calendar-img {
  width: 50px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.time {
  color: #666;
  font-size: 14px; /* Adjust font size as needed */
}

.calendar-table {
  margin: 20px ;
}

.calendar-table th, .calendar-table td {
  padding: 15px; /* Increased padding for better spacing */
  text-align: center;
}

.calendar-table th {
  background-color: #f4f4f4; /* Header background color */
  font-weight: bold;
}

.calendar-table td {
  height: 60px; /* Reduced height for better fit */
  vertical-align: top;
}


